:root {

  /* Light mode colours. */
  --config-enforce-background-colour-level-20-light:  palegreen;
  --config-enforce-background-colour-level-10-light:  lightblue;
  --config-enforce-background-colour-level-0-light:   lightgrey;

  /* Dark mode colours. These have nearly identical hues to the light mode
     colours but significantly less lightness and a bit higher saturation. */
  --config-enforce-background-colour-level-20-dark:  #3a633a;
  --config-enforce-background-colour-level-10-dark:  #3b5862;
  --config-enforce-background-colour-level-0-dark:   #5b5b5b;
  --config-enforce-background-colour-level-20: var(
    --config-enforce-background-colour-level-20-light
  );
  --config-enforce-background-colour-level-10: var(
    --config-enforce-background-colour-level-10-light
  );
  --config-enforce-background-colour-level-0: var(
    --config-enforce-background-colour-level-0-light
  );

}

/* Since Claro does not yet have a dark mode as of Drupal 10.0, we can't depend
   on @media (prefers-color-scheme: dark) { ... } as this could result in the
   browser and operating system indicating dark mode but the theme would be
   using light colours and so our dark colours would make things unreadable.

   Ideally, we wouldn't have to use theme-specific selectors to accomplish this,
   but until Drupal core supports a common way to doing this and/or all themes
   agree on the media query approach, this is necessary.

   The CSS custom property approach makes it easy to reuse these colour values
   if a contrib theme also wants or needs to use these. */
.gin--dark-mode {
  --config-enforce-background-colour-level-20: var(
    --config-enforce-background-colour-level-20-dark
  );
  --config-enforce-background-colour-level-10: var(
    --config-enforce-background-colour-level-10-dark
  );
  --config-enforce-background-colour-level-0: var(
    --config-enforce-background-colour-level-0-dark
  );
}

.config-enforce-form {
    position: absolute;
    z-index: 100;
    top: 15%;
    right: 5%;
    padding: 1em;
    background-color: lightgrey;
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.5);
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.5);
}

div.config-enforce-form details.enforced.level-20 summary,
.config-enforce-container details.enforced.level-20 summary {
  background-color: var(--config-enforce-background-colour-level-20);
}
div.config-enforce-form details.enforced.level-10 summary,
.config-enforce-container details.enforced.level-10 summary {
  background-color: var(--config-enforce-background-colour-level-10);
}
div.config-enforce-form details.enforced.level-0 summary,
.config-enforce-container details.enforced.level-0 summary {
  background-color: var(--config-enforce-background-colour-level-0);
}

.config-enforce-container__summary-content {
  --config-enforce-icon-size: 1.5rem;

  position: relative;
  padding-inline-start: calc(var(--config-enforce-icon-size) + 0.3rem);

}

.config-enforce-container__summary-content::before {
  position: absolute;
  top:  50%;
  left: 0;
  display: inline-block;
  width:  var(--config-enforce-icon-size);
  height: var(--config-enforce-icon-size);
  margin-top: calc(var(--config-enforce-icon-size) / 2 * -1);
  content: '';
  text-align: center;
  background-image: url('../icons/config-enforce.svg');
  background-size: contain;

}

html[dir='rtl'] .config-enforce-container__summary-content::before {
  right:  0;
  left:   auto;
}
